<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>{% block title %}{% endblock title %} :: Hotel Reviewer</title>


    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li><a href="/hotels">Hotels</a></li>
          <li><a href="/reviews">Reviews</a></li>
          <li><a href="#">Login</a></li>
        </ul>
        <h3 class="text-muted">Hotel Reviewer</h3>
      </div>

      <div class="content">
        {% block heading %}{% endblock heading %}
        {% block content %}{% endblock content %}
      </div>
      <div class="footer">
        <p>&copy; PSXCKT-CCS 2013</p>
      </div>

    </div> <!-- /container -->

    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#validated-form").validate();

        //callback handler for form submit
        $("#deleter").submit(function(e) {
            var url = $(this).attr("action");
            $.ajax({
              url : url,
              type: "DELETE",
              success:function(data, textStatus, jqXHR) {
                window.location.href = data;
              },
               error: function(jqXHR, textStatus, errorThrown) { }
            });
            e.preventDefault(); //STOP default action
        });

      });
    </script>
  </body>
</html>
{% endautoescape %}
