span.rating { float:right; }
h4.title { float:left; }
div.details { border-top:solid 1px #E5E5E5;margin:0;}
div.form-bg { border-radius: 0; margin-bottom: 20px; min-height: 20px; padding: 19px; box-shadow:none; }
.form-control { border: 1px solid #E5E5E5; box-shadow: none; }
.small-text { font-size:10px;color:#b2b2b2; }
