<div class="details">
  <div class="row">
    <div class="col-md-8"> <h4><a href="/reviews/{{review.key().id()}}">{{ review.title }}</a></h4> </div>
    <div class="col-md-4" style="padding-top:7px">
    {% for x in range(0, review.rating) %}
      {% include 'layouts/_star.html' %}
    {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p> {{ review.comments }} </p>
      </br>
      <p class="small-text">
      Submitted on {{ review.created_at.strftime('%B %d, %Y at %I:%M %p')}}
      </p>
    </div>
  </div>
</div>
