{% extends "layouts/reviews.html" %}

{% block title %} Latest Reviews {% endblock title %}

{% block heading %}
  <h1>
  {% if hotel %}
    Reviews for <a href="/hotels/{{hotel.key().id()}}">{{ hotel.name }}</a>
  {% else %}
    All Reviews
  {% endif %}
  </h1>
  <p style="font-size:12px;float:right">
  Sort By:
  &nbsp; &nbsp;
  Rating &nbsp;
  <a href="{{ sort_url }}+rating">
    <span title="Ascending" class="glyphicon glyphicon-chevron-up"></span></a>
  <a href="{{ sort_url }}-rating">
    <span title="Descending" class="glyphicon glyphicon-chevron-down"></span></a>
   &nbsp; &nbsp;
  Date &nbsp;
  <a href="{{ sort_url }}+date">
    <span title="Earliest" class="glyphicon glyphicon-chevron-up"></span></a>
  <a href="{{ sort_url }}-date">
    <span title="Latest" class="glyphicon glyphicon-chevron-down"></span></a>
  </p>

{% endblock heading %}

{% block content %}
    <div class="row marketing">
      <div class="col-md-12">
        {% if reviews %}
          {% for review in reviews %}
            {% include 'reviews/_review.html' %}
          {% endfor %}
        {% else %}
          <h1> No Reviews Submitted Yet!  </h1>
        {% endif %}
      </div>
    </div>
{% endblock content %}
