{% extends "layouts/reviews.html" %}

{% block title %} Add Hotel {% endblock %}

{% block heading %}
    <div style="border-bottom:solid 1px #E5E5E5">
      <h1>Reviewing {{ hotel.name }}</h1>
      <p class="important"> &nbsp; </p>
    </div>
{% endblock heading %}

{% block content %}

<div class="row marketing">
  <div class="col-md-12">
    <div class="form-bg">
      <form id="validated-form" action="/hotels/{{ hotel_id }}/reviews" method="post" class="bs-example form-horizontal">

          <div class="form-group">
            <label class="col-md-2 control-label" for="title">Title</label>
            <div class="col-md-10">
            <input name="title" type="text" placeholder="Your sentiments in one sentence" class="form-control" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="comments">Comments</label>
            <div class="col-md-10">
            <textarea name="comments" rows="3" class="form-control" placeholder="Full review " required></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="select">Rating</label>
            <div class="col-md-10">
              <select name="rating" class="form-control">
                <option>1 - Abysmal</option>
                <option>2 - Below Average</option>
                <option>3 - Average</option>
                <option>4 - Good</option>
                <option>5 - Heaven on Earth</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
              <a href="/hotels/{{ hotel_id }}" class="btn btn-default"> Cancel </a>
            <button class="btn btn-primary" type="submit">Save Review</button>
            </div>
          </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
