{% extends "layouts/reviews.html" %}

{% block title %}
    {% if review %}
      {{ review.hotel.name }} Review
    {% endif  %}
  {% endblock title %}

{% block heading %}
    {% if review %}
  <p style="float:right;padding-top:10px">
    <!-- action="/reviews/{# review.key().id() #}">  method="delete"> -->
    <form id="deleter" action="/hotels/{{ review.hotel.key().id() }}/reviews/{{review.key().id()}}" style="float:right;margin-left:10px">
    <button type="submit" class="btn btn-default btn-xs" type="button" style="float:right">
    <span class="glyphicon glyphicon-trash"> </span>
    Delete Review
    </button>
    </form>
    &nbsp; &nbsp; &nbsp;
    <button onclick="window.location='/hotels/{{ review.hotel.key().id() }}'" class="btn btn-default btn-xs" type="button" style="float:right">
    <span class="glyphicon glyphicon-arrow-left"> </span>
    Back to Reviews
    </button>
  </p>

  <h1>Review for {{ review.hotel.name }} </h1>
    {% endif  %}
{% endblock heading %}

{% block content %}
    <div class="row marketing">
      <div class="col-md-12">
        {% if review %}
            {% include 'reviews/_review.html' %}
        {% else %}
        <h1> Review not found!  </h1>
        {% endif %}
      </div>
    </div>
{% endblock %}


