{% extends "layouts/hotels.html" %}
{% block title %} Hotels {% endblock %}

{% block heading %}
    <p style="float:right">
      <a href="/hotels/new" class="btn btn-default"> Add New Hotel </a>
    </p>
    <h1>Hotels</h1>
    <p class="important">
    </p>

{% endblock %}

{% block content %}
      <div class="row marketing">
        <div class="col-md-12">


          {% for hotel in hotels %}
          <div class="details row marketing">
              <div class="col-md-2">

                <div style="padding:10px 10px 10px 0 ">
                  {% if hotel.image_data == None %}
                  <img src="/assets/images/no-photo-placeholder.png"height="75px" width="75px" />
                  {% else %}
                  <img src="/images/{{ hotel.image_id }}" height="75px" width="75px" />
                  {% endif %}
                </div>

              </div>

              <div class="col-md-10">

                <div class="row">
                  <div class="col-md-8">
                    <h4> <a href="/hotels/{{hotel.key().id()}}"/>{{ hotel.name }}</h4></a>
                  </div>
                  <div class="col-md-2" style="padding-top:10px;padding-right:10px;padding-left:46px">
                    <button onclick="window.location='/hotels/{{hotel.key().id()}}/reviews/new'" class="btn btn-default btn-xs" type="button">
                      <span class="glyphicon glyphicon-star"> </span>
                      Write a Review
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p class="small-text">
                      {% if hotel.last_reviewed_at == None %}
                        No reviews submitted. Be the first!
                      {% else %}
                        {% include 'layouts/_rating.html' %}
                      {% endif %}
                    </p>
                    <p> {{ hotel.description }} </p>
                    <br/>
                    <p class="small-text">
                    {% if hotel.last_reviewed_at != None %}
                      Last Reviewed At: {{ hotel.last_reviewed_at.strftime('%B %d, %Y at %I:%M %p')}}
                    {% endif %}
                    </p>
                  </div>
                </div>

              </div>


          </div>

          <br/>
          {% endfor %}


        </div>
      </div>
{% endblock %}
