{% extends "layouts/hotels.html" %}

{% block title %} Add Hotel {% endblock %}

{% block heading %}
    <div style="border-bottom:solid 1px #E5E5E5">
    <h1>Add New Hotel</h1>
    </div>
{% endblock heading %}

{% block content %}

<div class="row marketing">
  <div class="col-md-12">
    <div class="form-bg">
      <form id="validated-form" action="/hotels" method="post" enctype="multipart/form-data" class="bs-example form-horizontal">

          <div class="form-group">
            <label class="col-md-2 control-label" for="name" required="true">Name</label>
            <div class="col-md-10">
            <input name="name" type="text" placeholder="Hotel's name" class="form-control" required>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="description">Description</label>
            <div class="col-md-10">
            <textarea name="description" rows="3" class="form-control" placeholder="Short description of hotel" required></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label" for="image">Photo</label>
            <div class="col-md-10 col-md-offset-2" style="position:absolute" >
              <input type="file" name="image"/>
            </div>
          </div>

          <div class="form-group" style="padding-top:20px">
            <div class="col-md-10 col-md-offset-2">
            <a href="/hotels" class="btn btn-default"> Cancel </a>
            <button class="btn btn-primary" type="submit">Add Hotel</button>
            </div>
          </div>

      </form>
    </div>
  </div>
</div>

{% endblock %}
