{% extends "layouts/hotels.html" %}

{% block title %} Hotel Information{% endblock title %}

{% block content %}

      {% if hotel %}
      <div class="row marketing" style="margin-bottom:0">
        <div class="col-md-12">
          <div style="border:solid 1px #e5e5e5;height:222px;">
          <div class="col-md-6">
            <h3> {{ hotel.name }} </h3>
             <p style="color:#b2b2b2">Score: {{ hotel.cumulative_rating() }}</p>
            <div>
              <p> {% include 'layouts/_rating.html' %} </p>
            </div>

            <div style="font-size:11px">
              <p> {{ hotel.description }} </p>
            </div>

          </div>
          <div class="col-md-6">
            <div style="padding-left:44px">
              {% if hotel.image_data == None %}
              <img style="margin-left:55px" src="/assets/images/no-photo-placeholder.png" />
              {% else %}
              <img src="/images/{{ hotel.image_id }}" height="220px" width="275px" />
              {% endif %}
            </div>
          </div>
          </div>
        </div>
      </div>

      <!-- Reviews -->
      <div class="row marketing" style="margin:0">
        <div class="col-md-12">
      <p style="float:right">
        <button onclick="window.location='/hotels/{{hotel.key().id()}}/reviews'" class="btn btn-default btn-xs" type="button">
          <span class="glyphicon glyphicon-list"> </span>
          See All Reviews
        </button>
        <button onclick="window.location='/hotels/{{hotel.key().id()}}/reviews/new'" class="btn btn-default btn-xs" type="button">
          <span class="glyphicon glyphicon-star"> </span>
          Write a Review
        </button>
      </p>
      <h4>Last 5 Reviews</h4>
        </div>
      </div>

      <div class="row marketing" style="margin-top:0">
        <div class="col-md-12">
          {% for review in hotel.reviews.fetch(5) %}
            {% include 'reviews/_review.html' %}
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="row marketing">
        <h1> Hotel Not Found!  </h1>
      </div>
      {% endif %}

{% endblock %}
